<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="home.css" />
    <title>Bagual</title>
  </head>
  <body>
    <main class="landing-main">
      <h1>BAGUAL</h1>
      <a href="#grilla">
        <img src="./imgs/arrowdown.svg" alt="" />
      </a>
    </main>
    <div id="grilla" class="landing-grilla-menu">
      <div class="stock"><a href="#">STOCK</a></div>
      <div class="aboutus"><a href="">ABOUT US</a></div>
      <div class="contact"><a href="">CONTACTO</a></div>
      <div class="login"><a href="">LOG IN</a></div>
      <div class="singup"><a href="">SING UP</a></div>
    </div>
  </body>
</html>
