<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="buy.css" />
    <title>STOCK</title>
  </head>
  <body>
    <main class="main-buy">
      <div class="main-filter-div">
        <ul class="main-filter-ul">
          
          
        <li>
          <span>Filtrar:</span>
        </li>

        <li>
          <form action="">
            <a href="">Categoria 1</a>
          </form>
        </li>
        <li>
          <form action="">
            <a href="">Categoria 2</a>
          </form>
        </li>
        <li>
          <form action="">
            <a href="">Categoria 3</a>
          </form>
        </li>
        <li>
          <form action="">
            <a href="">Categoria 4</a>
          </form>
        </li>
        
      </ul>

      <div class="searchbar">

        <input type="text">
        <button><img src="search.svg" alt=""></button>

      </div>


      </div> 

      <div class="products">
        
        <a href="#" class="product_card">
          <img src="bolso.png" alt="" />
          <span>Nombre del producto</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit 
            
          </p>
        </a>
        <a href="#" class="product_card">
          <img src="bolso.png" alt="" />
          <span>Nombre del producto</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit
            
          </p>
        </a>
        <a href="#" class="product_card">
          <img src="bolso.png" alt="" />
          <span>Nombre del producto</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit
            
          </p>
        </a>
        <a href="#" class="product_card">
          <img src="bolso.png" alt="" />
          <span>Nombre del producto</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit
            
          </p>
        </a>
        <a href="#" class="product_card">
          <img src="bolso.png" alt="" />
          <span>Nombre del producto</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit
            
          </p>
        </a>
        <a href="#" class="product_card">
          <img src="bolso.png" alt="" />
          <span>Nombre del producto</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit
            
          </p>
        </a>
        <a href="#" class="product_card">
          <img src="bolso.png" alt="" />
          <span>Nombre del producto</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit
            
          </p>
        </a>
        <a href="#" class="product_card">
          <img src="bolso.png" alt="" />
          <span>Nombre del producto</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit
            
          </p>
        </a>
      </div>
    </main>
  </body>
</html>
